certifi==2025.7.14
charset-normalizer==3.4.2
dateparser==1.2.2
idna==3.10
numpy==2.0.2
pandas==2.3.1
Pillow==11.3.0
prometheus-api-client==0.6.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.4
RPi.GPIO==0.7.1
six==1.17.0
spidev==3.7
tzlocal==5.3.1
urllib3==2.5.0
