certifi==2026.4.22
charset-normalizer==3.4.7
dateparser==1.4.0
idna==3.13
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
prometheus-api-client==0.7.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
regex==2026.4.4
requests==2.33.1
RPi.GPIO==0.7.1
six==1.17.0
spidev==3.8
tzlocal==5.3.1
urllib3==2.6.3
