certifi==2026.7.22
charset-normalizer==3.5.1
dateparser==1.4.2
idna==3.18
numpy==2.5.2
pandas==3.0.5
Pillow==12.3.0
prometheus-api-client==0.7.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
regex==2026.7.19
requests==2.34.2
RPi.GPIO==0.7.1
six==1.17.0
spidev==3.8
tzlocal==5.4.4
urllib3==2.7.0
